dash>=4.1
dash-leaflet>=1.1
dash-extensions>=2.0

pandas>=3.0
numpy>=2.4
xarray>=2026.2

plotly>=6.6

pyarrow>=23
fastparquet>=2026.3

netCDF4>=1.7

geopandas>=1.1
rasterio>=1.5
rioxarray>=0.22
shapely>=2.1
pyproj>=3.7

matplotlib>=3.10

scipy>=1.17
scikit-learn>=1.9

openpyxl>=3.1
pingouin>=0.6

dask>=2026.1
